<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Outlook>
            <version>0.1.8</version>
        </Ccc_Outlook>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Outlook before="Mage_Adminhtml">Ccc_Outlook_Adminhtml</Ccc_Outlook>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <outlook>
                    <file>outlook.xml</file>
                </outlook>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <routers>
            <ccc_outlook>
                <use>standard</use>
                <args>
                    <module>Ccc_Outlook</module>
                    <frontName>outlook</frontName>
                </args>
            </ccc_outlook>
        </routers>
    </frontend>
    <global>
        <helpers>
            <outlook>
                <class>Ccc_Outlook_Helper</class>
            </outlook>
        </helpers>
        <blocks>
            <outlook>
                <class>Ccc_Outlook_Block</class>
            </outlook>
        </blocks>
        <models>
            <ccc_outlook>
                <class>Ccc_Outlook_Model</class>
                <resourceModel>outlook_resource</resourceModel>
            </ccc_outlook>
            <outlook_resource>
                <class>Ccc_Outlook_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_outlook_configuration</table>
                    </configuration>
                    <event>
                        <table>ccc_outlook_events</table>
                    </event>
                    <email>
                        <table>ccc_outlook_email</table>
                    </email>
                    <attachment>
                        <table>ccc_outlook_attachment</table>
                    </attachment>
                    <dispatch>
                        <table>ccc_outlook_dispatch</table>
                    </dispatch>
                </entities>
            </outlook_resource>
        </models>
        <resources>
            <outlook_setup>
                <setup>
                    <module>Ccc_Outlook</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </outlook_setup>
        </resources>
        <events>
            <event_check>
                <observers>
                    <ccc_outlook_event>
                        <type>singleton</type>
                        <class>ccc_outlook/observer</class>
                        <method>checkEvent</method>
                    </ccc_outlook_event>
                </observers>
            </event_check>
        </events>
    </global>
    <crontab>
        <jobs>
            <cron_outlook>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_outlook/observer::getEmails</model>
                </run>
            </cron_outlook>
        </jobs>
    </crontab>
</config>