<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Filetransfer>
            <version>0.1.2</version>
        </Ccc_Filetransfer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Filetransfer before="Mage_Adminhtml">Ccc_Filetransfer_Adminhtml</Ccc_Filetransfer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <filetransfer>
                    <file>filetransfer.xml</file>
                </filetransfer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <filetransfer>
                <class>Ccc_Filetransfer_Helper</class>
            </filetransfer>
        </helpers>
        <blocks>
            <filetransfer>
                <class>Ccc_Filetransfer_Block</class>
            </filetransfer>
        </blocks>
        <models>
            <ccc_filetransfer>
                <class>Ccc_Filetransfer_Model</class>
                <resourceModel>filetransfer_resource</resourceModel>
            </ccc_filetransfer>
            <filetransfer_resource>
                <class>Ccc_Filetransfer_Model_Resource</class>
                <entities>
                    <configuration>
                        <table>ccc_filetransfer_configuration</table>
                    </configuration>
                    <filetransfer>
                        <table>ccc_filetransfer_ftp</table>
                    </filetransfer>
                    <allpart>
                        <table>ccc_allpart</table>
                    </allpart>
                </entities>
            </filetransfer_resource>
        </models>
        <resources>
            <filetransfer_setup>
                <setup>
                    <module>Ccc_Filetransfer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filetransfer_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <cron_filetransfer>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_filetransfer/observer::readfile</model>
                </run>
            </cron_filetransfer>
            <cron_xmlread>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_filetransfer/observer::saveXmlData</model>
                </run>
            </cron_xmlread>
        </jobs>
    </crontab>
</config>