<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Ticketsystem>
            <version>0.1.5</version>
        </Ccc_Ticketsystem>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Ticketsystem before="Mage_Adminhtml">Ccc_Ticketsystem_Adminhtml</Ccc_Ticketsystem>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ticketsystem>
                    <file>ticketsystem.xml</file>
                </ticketsystem>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <ticketsystem>
                <class>Ccc_Ticketsystem_Block</class>
            </ticketsystem>
            <adminhtml>
                <rewrite>
                    <page_menu>Ccc_Ticketsystem_Block_Adminhtml_Menu</page_menu>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <ticketsystem>
                <class>Ccc_Ticketsystem_Helper</class>
            </ticketsystem>
        </helpers>
        <models>
            <ccc_ticketsystem>
                <class>Ccc_Ticketsystem_Model</class>
                <resourceModel>ticketsystem_resource</resourceModel>
            </ccc_ticketsystem>
            <ticketsystem_resource>
                <class>Ccc_Ticketsystem_Model_Resource</class>
                <entities>
                    <ticketsystem>
                        <table>ccc_ticketsystem</table>
                    </ticketsystem>
                    <status>
                        <table>ccc_ticketsystem_status</table>
                    </status>
                    <comment>
                        <table>ccc_ticketsystem_comment</table>
                    </comment>
                    <filter>
                        <table>ccc_ticketsystem_filter</table>
                    </filter>
                </entities>
            </ticketsystem_resource>
        </models>
        <resources>
            <ticketsystem_setup>
                <setup>
                    <module>Ccc_Ticketsystem</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ticketsystem_setup>
        </resources>
    </global>
</config>