<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Locationcheck>
            <version>0.1.3</version>
        </Ccc_Locationcheck>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Locationcheck after="Mage_Adminhtml">Ccc_Locationcheck_Adminhtml</Ccc_Locationcheck>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <locationcheck>
                    <file>locationcheck.xml</file>
                </locationcheck>
            </updates>
        </layout>
    </adminhtml>
    <!-- <frontend>
        <layout>
            <updates>
                <productseller>
                    <file>seller.xml</file>
                </productseller>
            </updates>
        </layout>
    </frontend> -->
    <global>
        <blocks>
            <locationcheck>
                <class>Ccc_Locationcheck_Block</class>
            </locationcheck>
        </blocks>
        <models>
            <Ccc_Locationcheck>
                <class>Ccc_Locationcheck_Model</class>
                <resourceModel>locationcheck_resource</resourceModel>
            </Ccc_Locationcheck>
            <locationcheck_resource>
                <class>Ccc_Locationcheck_Model_Resource</class>
                <entities>
                    <locationcheck>
                        <table>ccc_location_check</table>
                    </locationcheck>
                </entities>
            </locationcheck_resource>
        </models>
        <resources>
            <locationcheck_setup>
                <setup>
                    <module>Ccc_Locationcheck</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </locationcheck_setup>
        </resources>
        <helpers>
            <locationcheck>
                <class>Ccc_Locationcheck_Helper</class>
            </locationcheck>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <locationcheck>
                        <type>singleton</type>
                        <class>Ccc_Locationcheck/observer</class>
                        <method>checkLocation</method>
                    </locationcheck>
                    <zipcheck>
                        <type>singleton</type>
                        <class>Ccc_Locationcheck/observer</class>
                        <method>checkZip</method>
                    </zipcheck>
                </observers>
            </sales_order_place_after>
        </events>
    </global>
</config>