<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Repricer>
            <version>0.1.0</version>
        </Ccc_Repricer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Repricer before="Mage_Adminhtml">Ccc_Repricer_Adminhtml</Ccc_Repricer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <repricer>
                    <file>repricer.xml</file>
                </repricer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <repricer>
                <class>Ccc_Repricer_Block</class>
            </repricer>
        </blocks>
         <models>
            <ccc_repricer>
                <class>Ccc_Repricer_Model</class>
                <resourceModel>ccc_repricer_resource</resourceModel>
            </ccc_repricer>
            <ccc_repricer_resource>
                <class>Ccc_Repricer_Model_Resource</class>
                <entities>
                    <repricer>
                        <table>repricer</table>
                    </repricer>
                </entities>
            </ccc_repricer_resource>
        </models>
        <resources>
            <repricer_setup>
                <setup>
                    <module>Ccc_Repricer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repricer_setup>
        </resources>
        <helpers>
            <repricer>
                <class>Ccc_Repricer_Helper</class>
            </repricer>
        </helpers>
    </global>
</config>