<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Repricer>
            <version>0.1.2</version>
        </Ccc_Repricer>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Repricer before="Mage_Adminhtml">Ccc_Repricer_Adminhtml</Ccc_Repricer>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <repricer>
                    <file>repricer.xml</file>
                </repricer>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <repricer>
                <class>Ccc_Repricer_Block</class>
            </repricer>
        </blocks>
        <models>
            <ccc_repricer>
                <class>Ccc_Repricer_Model</class>
                <resourceModel>repricer_resource</resourceModel>
            </ccc_repricer>
            <repricer_resource>
                <class>Ccc_Repricer_Model_Resource</class>
                <entities>
                    <competitors>
                        <table>ccc_repricer_competitor</table>
                    </competitors>
                    <matching>
                        <table>ccc_repricer_matching</table>
                    </matching>
                </entities>
            </repricer_resource>
        </models>
        <resources>
            <repricer_setup>
                <setup>
                    <module>Ccc_Repricer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </repricer_setup>
        </resources>
        <helpers>
            <repricer>
                <class>Ccc_Repricer_Helper</class>
            </repricer>
        </helpers>
    </global>
    <crontab>
        <jobs>
            <new_corn>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_repricer/observer::setNewData</model>
                </run>
            </new_corn>
            <download_corn>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_repricer/observer::downloadCsv</model>
                </run>
            </download_corn>
            <upload_corn>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>ccc_repricer/observer::uploadCsv</model>
                </run>
            </upload_corn>
        </jobs>
    </crontab>
</config>