<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Productseller>
            <version>0.1.1</version>
        </Ccc_Productseller>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Productseller after="Mage_Adminhtml">Ccc_Productseller_Adminhtml</Ccc_Productseller>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <productseller>
                    <file>productseller.xml</file>
                </productseller>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <productseller>
                <class>Ccc_Productseller_Block</class>
            </productseller>
            <adminhtml>
                <rewrite>
                    <catalog_product_grid>Ccc_Productseller_Block_Catalog_Product_Grid</catalog_product_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <Ccc_Productseller>
                <class>Ccc_Productseller_Model</class>
                <resourceModel>productseller_resource</resourceModel>
            </Ccc_Productseller>
            <productseller_resource>
                <class>Ccc_Productseller_Model_Resource</class>
                <entities>
                    <productseller>
                        <table>ccc_seller</table>
                    </productseller>
                </entities>
            </productseller_resource>
        </models>
        <resources>
            <productseller_setup>
                <setup>
                    <module>Ccc_Productseller</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </productseller_setup>
        </resources>
        <helpers>
            <productseller>
                <class>Ccc_Productseller_Helper</class>
            </productseller>
        </helpers>
    </global>
</config>