<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Mostsellingrelateditems>
            <version>0.1.2</version>
        </Ccc_Mostsellingrelateditems>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Mostsellingrelateditems before="Mage_Adminhtml">Ccc_Mostsellingrelateditems_Adminhtml</Ccc_Mostsellingrelateditems>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mostsellingrelateditems>
                    <file>mostSelling.xml</file>
                </mostsellingrelateditems>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <mostsellingrelateditems>
                <class>Ccc_Mostsellingrelateditems_Block</class>
            </mostsellingrelateditems>
        </blocks>
        <models>
            <ccc_mostsellingrelateditems>
                <class>Ccc_Mostsellingrelateditems_Model</class>
                <resourceModel>mostsellingrelateditems_resource</resourceModel>
            </ccc_mostsellingrelateditems>
            <mostsellingrelateditems_resource>
                <class>Ccc_Mostsellingrelateditems_Model_Resource</class>
                <entities>
                    <mostsellingrelateditems>
                        <table>ccc_most_selling_related_items</table>
                    </mostsellingrelateditems>
                </entities>
            </mostsellingrelateditems_resource>
        </models>
        <resources>
            <mostsellingrelateditems_setup>
                <setup>
                    <module>Ccc_Mostsellingrelateditems</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mostsellingrelateditems_setup>
        </resources>
        <helpers>
            <mostsellingrelateditems>
                <class>Ccc_Mostsellingrelateditems_Helper</class>
            </mostsellingrelateditems>
        </helpers>
        <events>
            <mostsellingrelateditems_after_save>
                <observers>
                    <mostselling>
                        <type>singleton</type>
                        <class>ccc_mostsellingrelateditems/observer</class>
                        <method>setMostSellingItem</method>
                    </mostselling>
                </observers>
            </mostsellingrelateditems_after_save>
            <catalog_product_save_before>
                <observers>
                    <mostsellingrelateditems>
                        <type>singleton</type>
                        <class>ccc_mostsellingrelateditems/observer</class>
                        <method>setMostSelleingProduct</method>
                    </mostsellingrelateditems>
                </observers>
            </catalog_product_save_before>
        </events>
    </global>
</config>