<?xml version="1.0"?>
<config>
    <modules>
        <Ccc_Jethalal>
            <version>0.1.4</version>
        </Ccc_Jethalal>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Ccc_Jethalal after="Mage_Adminhtml">Ccc_Jethalal_Adminhtml</Ccc_Jethalal>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <jethalal>
                    <file>jethalal.xml</file>
                </jethalal>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <jethalal>
                <class>Ccc_Jethalal_Helper</class>
            </jethalal>
        </helpers>
        <blocks>
            <jethalal>
                <class>Ccc_Jethalal_Block</class>
            </jethalal>
        </blocks>
        <models>
            <ccc_jethalal>
                <class>Ccc_Jethalal_Model</class>
                <resourceModel>jethalal_resource</resourceModel>
            </ccc_jethalal>
            <jethalal_resource>
                <class>Ccc_Jethalal_Model_Resource</class>
                <entities>
                    <jalebi>
                        <table>ccc_jethalal_jalebi</table>
                    </jalebi>
                </entities>
            </jethalal_resource>
        </models>
        <resources>
            <jethalal_setup>
                <setup>
                    <module>Ccc_Jethalal</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </jethalal_setup>
        </resources>
        <events>
            <jethalal_event>
                <observers>
                    <ccc_jethalal_jalebi>
                        <type>singleton</type>
                        <class>ccc_jethalal/observer</class>
                        <method>jalebiJethalal</method>
                    </ccc_jethalal_jalebi>
                </observers>
            </jethalal_event>
        </events>
    </global>
</config>